# IDE
.idea
.vscode

# Vendoring
vendor

# tempfiles
.DS_Store
*~
.cache

temp
tmp

# binary
bin/
release/

# coverage
coverage.txt
coverage.html

# testing
cmd/test
/plugins/
testfile

# misc
.neofs-cli.yml

# debhelpers
**/*.debhelper
**/debhelper*

# logfiles
debian/*.log

# .substvars
debian/*.substvars

# .bash-completion
debian/*.bash-completion

# Install folders and files
debian/neofs-cli/
debian/neofs-ir/
debian/files
debian/neofs-storage/
debian/changelog
man/
debs/