logger:
  level: info

morph:
  rpc_endpoint:
    - https://rpc01.morph.testnet.fs.neo.org:51331
    - https://rpc02.morph.testnet.fs.neo.org:51331
    - https://rpc03.morph.testnet.fs.neo.org:51331
    - https://rpc04.morph.testnet.fs.neo.org:51331
    - https://rpc05.morph.testnet.fs.neo.org:51331
    - https://rpc06.morph.testnet.fs.neo.org:51331
    - https://rpc07.morph.testnet.fs.neo.org:51331
  notification_endpoint:
    - wss://rpc01.morph.testnet.fs.neo.org:51331/ws
    - wss://rpc02.morph.testnet.fs.neo.org:51331/ws
    - wss://rpc03.morph.testnet.fs.neo.org:51331/ws
    - wss://rpc04.morph.testnet.fs.neo.org:51331/ws
    - wss://rpc05.morph.testnet.fs.neo.org:51331/ws
    - wss://rpc06.morph.testnet.fs.neo.org:51331/ws
    - wss://rpc07.morph.testnet.fs.neo.org:51331/ws
  dial_timeout: 20s

contracts:
  balance: e0420c216003747626670d1424569c17c79015bf
  container: 9dbd2b5e67568ed285c3d6f96bac4edf5e1efba0
  netmap: d4b331639799e2958d4bc5b711b469d79de94e01
  reputation: 376c23a2ae1fad088c82046abb59984e3c4519d9

node:
  key: /node.key
  attribute_0: Deployed:SelfHosted
  attribute_1: User-Agent:NeoFS\/0.26

metrics:
  address: 127.0.0.1:9090
  shutdown_timeout: 15s

storage:
  shard_num: 1
  shard:
    0:
      use_write_cache: false
      metabase:
        path: /storage/metabase
        perm: 0777
      blobstor:
        path: /storage/blobstor
        perm: 0777
        blobovnicza:
          opened_cache_capacity: 32
          depth: 1
          width: 1
      gc:
        remover_batch_size: 100
        remover_sleep_interval: 1m
