name: neofs-node tests

on:
  push:
    branches:
      - master
      - support/**
    paths-ignore:
      - '*.md'
  pull_request:
    branches:
      - master
      - support/**
    paths-ignore:
      - '*.md'

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: [ '1.18.x', '1.19.x', '1.20' ]
    steps:
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          cache: true
          go-version: ${{ matrix.go }}

      - name: Check out code
        uses: actions/checkout@v3

      - name: Cache go mod
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ matrix.go }}-

      - name: Run go test
        run: go test -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bash <(curl -s https://codecov.io/bash)

  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.50.0
          args: --timeout=5m
          only-new-issues: true
